/* Card.css */

.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
  flex-direction: column; 
  align-items: center; 
}

.side-nav h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.side-nav p {
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
  font-size: 14px;
}

.side-nav .transaction-item {
  margin-bottom: 10px;
  width: calc(100% - 10px); 
  border-left: 4px solid #ceb212eb;
  padding-left: 10px;
}

.side-nav .transaction-item:hover {
  background-color: #f0f0f0; 
}
