
.register-container {
  width: 300px;
  margin: auto;
}

.register-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-button {
  font-weight: bold;
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  background-color: #ceb212be;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #ceb2129c;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

/* Card.css */
.transaction-side-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 151px;
  height: 100vh;
  padding: 20px;
  background-color: #fff;
  flex-direction: column; 
  align-items: center; 
}

.transaction-side-nav h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.transaction-side-nav label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
  font-size: 14px;
  text-align: center;
}

.transaction-side-nav input {
  margin-bottom: 10px;
  width: calc(100% - 10px); 
  padding-left: 10px;
  align-items: center;
}

.transaction-side-nav select {
  margin-bottom: 10px;
  width: calc(100% - 10px); 
  padding-left: 10px;
  align-items: center;
}

