.home-card {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.home-img {
  max-width: 80%; 
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.home-h1 {
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: center; 
}

.home-button {
  margin: 5px 0; 
  padding: 10px 20px; 
  width: 100%;
  background-color: #ceb212be;
  color: #333; 
  font-weight: bold;
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.home-button:hover {
  background-color: #ceb21299; 
}

.home-p {
  margin-top: 10px;
  font-size: 1.25em;
  text-align: center; 
}

.middle, .low {
  display: flex; 
  width: 100%;
  margin-bottom: 20px;
}

.middle .col-md-6, .low .col-md-6 {
  padding: 10px;
  background-color: #f9f9f9;
}

.middle .col-md-6 {
  color: #333;
  background-color: #ceb212be;
  font-weight: bold;
  border: 1px solid #0000004b;
  margin-bottom: 10px;
  width: 25%;
}

.low .col-md-6 {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 25%;
}

.low .col-md-6 img {
  margin-bottom: 20px;
  width: 100%;
}
